# hidden files
.*
!.gitignore

# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData
*.rds
*.RDS
*.dictionary.html

# tag files
tags

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rprofile
.Rproj.user
.Rproj.user/
.Ruserdata

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# System files
.DS_Store
*/.DS_Store

# vim files
*~

# python
venv/
*.egg-info/*
__pycache__

# Results
_archived
*.zip
*.sample

# Temp files
_gsdata_/
~
\~$*

# Data
*.sav
*.sas7bdat
*.log
*.csv

# RESOURCES
# 1000G phase 1
RESOURCES/1000Gp1v3_EUR/*
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.INFO.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.FREQ.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.FUNC.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.EUR.FREQ.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.EUR.FUNC.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.EUR.INFO.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.PAN.FREQ.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.PAN.FUNC.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.PAN.INFO.txt.gz

RESOURCES/ALL.wgs.integrated_phase1_v3.20101123.snps_indels_sv.sites.vcf.gz

# 1000G phase 3
RESOURCES/1000Gp3v5_EUR/*
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.EUR.*
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5c.EUR.*

RESOURCES/1000Gp3v5_AFR/*
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.AFR*
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5c.AFR*

RESOURCES/1000Gp3v5_AMR/*

RESOURCES/1000Gp3v5_EAS/*

RESOURCES/1000Gp3v5_SAS/*

RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.PAN.*
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5c.PAN.*

RESOURCES/1000Gp3v5_20130502_integrated_ALL_snv_indels_sv.INFO.txt.gz
RESOURCES/1000Gp3v5_20130502_integrated_ALL_snv_indels_sv.FREQ.txt.gz
RESOURCES/1000Gp3v5_20130502_integrated_ALL_snv_indels_sv.FUNC.txt.gz
RESOURCES/ALL.wgs.phase3_shapeit2_mvncall_integrated_v5b.*
RESOURCES/ALL.wgs.phase3_shapeit2_mvncall_integrated_v5c.*

RESOURCES/1kGp3v5b.ref.1maf.nonbia.sumstats.gz
RESOURCES/1kGp3v5b.ref.allfreq.noCN_noINS_noSS_noESV_noMultiAllelic.sumstats.txt.gz

RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.EUR.VARIANTID2RSID.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.no_multiallelic.EAS.VARIANTID2RSID.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.only_SNPS_INDELS.AFR.VARIANTID2RSID.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.only_SNPS_INDELS.AMR.VARIANTID2RSID.txt.gz

RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.no_multiallelic.*.FREQ.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.no_multiallelic.*.FUNC.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.no_multiallelic.*.INFO.txt.gz

RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.only_SNPS_INDELS.*.FREQ.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.only_SNPS_INDELS.*.FUNC.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.only_SNPS_INDELS.*.INFO.txt.gz

RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5c.no_multiallelic.*.FREQ.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5c.no_multiallelic.*.FUNC.txt.gz
RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5c.no_multiallelic.*.INFO.txt.gz

RESOURCES/1000Gp3v5_20130502_mvncall_integrated_v5b.only_SNPS_INDELS.*

# 1000G phase 3 plus GoNL5
RESOURCES/1000Gp3v5_GoNL5/*

# HAPMAP
RESOURCES/HAPMAP/

# dbSNP
RESOURCES/dbsnp129_hg18.txt.gz
RESOURCES/dbsnp129_hg18_excl_non_ref.attrib.gz
RESOURCES/dbsnp129_hg18_excl_non_ref.txt.gz

RESOURCES/dbsnp137_hg19.attrib.gz
RESOURCES/dbsnp137_hg19.txt.gz

RESOURCES/dbSNP_146.b37.p13.chr_pos.txt.gz

RESOURCES/dbSNP147_GRCh37_hg19_Feb2009.allVariants.txt.gz
RESOURCES/dbSNP147_b37_hg19.allVariants.attrib.txt.gz
RESOURCES/dbSNP147_b37_hg19.allVariants.txt.gz
RESOURCES/dbSNP147_GRCh37_hg19_Feb2009.txt.gz
RESOURCES/dbSNP147_GRCh37_hg19_Feb2009.attrib.txt.gz

RESOURCES/dbSNP150_GRCh37_hg19_Feb2009.allVariants.txt.gz
RESOURCES/dbSNP150_GRCh37_hg19_Feb2009.txt.gz
RESOURCES/dbSNP150_GRCh37_hg19_Feb2009.attrib.txt.gz
RESOURCES/dbSNP150_GRCh37_hg19_Feb2009.attrib.txt


# ORIGINALS & ARCHIVED
RESOURCES/ORIGINALS/GENCODE_wgEncodeBasicV19_GRCh37_hg19_Feb2009.txt.gz
RESOURCES/ORIGINALS/dbSNP147_GRCh37_hg19_Feb2009.allVariants.txt.gz
RESOURCES/_ARCHIVED/dbSNP147_b37_hg19.allVariants.attrib.txt.gz
RESOURCES/_ARCHIVED/dbSNP147_b37_hg19.allVariants.txt.gz
RESOURCES/_possible_archived/dbSNP147_GRCh37_hg19_Feb2009.attrib.txt.gz

# GENE MAPS
RESOURCES/gencode_v19_GRCh37_hg19_Feb2009.txt.gz
RESOURCES/refseq_GRCh37_hg19_Feb2009.txt.gz
RESOURCES/w_hm3.noMHC.snplist.txt.gz

# SOME HISTORY + LOGS
RESOURCES/history.txt
RESOURCES/resource.VCFparser.1kGp3.errors
RESOURCES/resource.VCFparser.1kGp3.log
RESOURCES/resource.VCFparser.1kGp3.sh
RESOURCES/resource.VCFplusdbSNP.1kGp3.errors
RESOURCES/resource.VCFplusdbSNP.1kGp3.sh
RESOURCES/resource.VCFplusdbSNP.1kGp3.log
resource.creator.errors
resource.creator.log

# EXAMPLE DATA
EXAMPLE/*
EXAMPLE/SOMEGWAS_prepMETA/*
EXAMPLE/SOMEGWAS*
RESOURCES/_archive/

