SCRIPTS/.Rhistory
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.INFO.txt.gz
RESOURCES/1000Gp1v3_EUR/
RESOURCES/1000Gp3v5_20130502_integrated_ALL_snv_indels_sv.INFO.txt.gz
RESOURCES/1000Gp3v5_EUR/
RESOURCES/HAPMAP/
RESOURCES/dbSNP_146.b37.p13.chr_pos.txt.gz
RESOURCES/dbsnp129_hg18.txt.gz
RESOURCES/dbsnp129_hg18_excl_non_ref.attrib.gz
RESOURCES/dbsnp129_hg18_excl_non_ref.txt.gz
RESOURCES/dbsnp137_hg19.attrib.gz
RESOURCES/dbsnp137_hg19.txt.gz

RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.FREQ.txt.gz

RESOURCES/1000Gp3v5_20130502_integrated_ALL_snv_indels_sv.FREQ.txt.gz

RESOURCES/dbSNP147_b37_hg19.allVariants.attrib.txt.gz

RESOURCES/dbSNP147_b37_hg19.allVariants.txt.gz

RESOURCES/ORIGINALS/GENCODE_wgEncodeBasicV19_GRCh37_hg19_Feb2009.txt.gz

RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.FUNC.txt.gz

RESOURCES/dbSNP147_GRCh37_hg19_Feb2009.txt.gz

RESOURCES/ORIGINALS/dbSNP147_GRCh37_hg19_Feb2009.allVariants.txt.gz

RESOURCES/gencode_v19_GRCh37_hg19_Feb2009.txt.gz

RESOURCES/1000Gp3v5_20130502_integrated_ALL_snv_indels_sv.FUNC.txt.gz

RESOURCES/_ARCHIVED/dbSNP147_b37_hg19.allVariants.attrib.txt.gz

RESOURCES/_ARCHIVED/dbSNP147_b37_hg19.allVariants.txt.gz

RESOURCES/dbSNP147_GRCh37_hg19_Feb2009.attrib.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.EUR.FREQ.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.EUR.FUNC.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.EUR.INFO.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.PAN.FREQ.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.PAN.FUNC.txt.gz
RESOURCES/1000Gp1v3_20101123_integrated_ALL_snv_indels_sv.PAN.INFO.txt.gz
RESOURCES/ALL.wgs.integrated_phase1_v3.20101123.snps_indels_sv.sites.vcf.gz
RESOURCES/ALL.wgs.phase3_shapeit2_mvncall_integrated_v5b.20130502.sites.vcf.gz
RESOURCES/refseq_GRCh37_hg19_Feb2009.txt.gz
